<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/basic.html}">

<div layout:fragment="content">

    <div class="row mt-3">
        <div class="col-md-11 mx-auto">
            <div class="col">
                <div style="font-size: 1.5rem;">
                    Notifications
                </div>
                <hr class="mb-4">

                <div class="card-body">
                    <form>
                        <input type="hidden" name="nNo" value="${dto.nNo}">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col" style="width: 15%;">No</th>
                                <th scope="col" style="width: 50%;">Title</th> <!-- Title 컬럼 글씨색 검정으로 설정 -->
                                <th scope="col" style="width: 25%;">Date</th>
                                <th scope="col" style="width: 10%;">Views</th>
                            </tr>
                            </thead>
                            <tbody th:with="
    link=${pgReqDTO.getLink()},
    totalItems=${#lists.size(respDTO.dtoList)},
    startIndex=${(respDTO.page - 1) * pgReqDTO.size + 1}">

                            <!-- 우선순위가 높은 항목들을 먼저 출력 (nIsImp가 true인 경우) -->
                            <tr th:each="dto, dtoIdx : ${respDTO.dtoList}"
                                th:if="${dto.nIsImp}">
                                <th>
                                    <i class="bi bi-info-square-fill" style="color: green;"></i>
                                </th>
                                <td>
                                    <a th:href="|@{/notif/read(nNo=${dto.nNo})}&${link}|" class="text-decoration-none">
                                        <span style="color: black;">[[${dto.nTitle}]]</span>
                                        <span style="color: green; font-weight: bold; font-size: 0.85rem;">(IMPT)</span>
                                    </a>
                                </td>
                                <td>[[${#temporals.format(dto.nRegDate, 'yyyy-MM-dd')}]]
                                    <span th:if="${dto.nModDate != null}">
                                        (edited)
                                    </span>
                                </td>
                                <td>[[${dto.nViews}]]</td>
                            </tr>

                            <!-- 우선순위가 낮은 항목들을 뒤에 출력 (nIsImp가 false인 경우) -->
                            <tr th:each="dto, dtoIdx : ${respDTO.dtoList}"
                                th:if="!${dto.nIsImp}">
                                <th th:text="${startIndex + dtoIdx.index}"></th>
                                <td>
                                    <a th:href="|@{/notif/read(nNo=${dto.nNo})}&${link}|" class="text-decoration-none">
                                        <span style="color: black;">[[${dto.nTitle}]]</span></a>
                                </td>
                                <td>[[${#temporals.format(dto.nRegDate, 'yyyy-MM-dd')}]]
                                    <span th:if="${dto.nModDate != null}">
                                        (edited)
                                    </span>
                                </td>
                                <td>[[${dto.nViews}]]</td>
                            </tr>

                            </tbody>
                        </table>

                        <div>
                            <div class="float-start">
                                <div class="input-group mb-4" style="max-width: 250px;">
                                    <label class="input-group-text small p-1" for="keyword" style="font-size: 0.8rem;">Title</label>
                                    <input type="text" class="form-control form-control-sm" id="keyword" name="keyword" th:value="${pgReqDTO.keyword}">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary btn-sm searchBtn" type="submit" style="font-size: 0.8rem;">Search</button>
                                        <button class="btn btn-outline-secondary btn-sm clearBtn" type="button" style="font-size: 0.8rem;">Clear</button>
                                    </div>
                                </div>
                                <a th:if="${session.adminLogin != null}" th:href="|@{/notif/register}|" class="text-decoration-none">
                                    <button type="button" class="btn btn-outline-dark">Register</button>
                                </a>
                            </div>

                            <div class="float-end">
                                <ul class="pagination flex-wrap">

                                    <li class="page-item" th:if="${respDTO.prev}">
                                        <a class="page-link" th:data-num="${respDTO.start - 1}">Previous</a>
                                    </li>

                                    <th:block th:each="i: ${#numbers.sequence(respDTO.start, respDTO.end)}">

                                        <li th:class="${respDTO.page == i}?'page-item active':'page-item'">
                                            <a class="page-link" th:data-num="${i}">[[${i}]]</a>
                                        </li>
                                    </th:block>

                                    <li class="page-item" th:if="${respDTO.next}">
                                        <a class="page-link" th:data-num="${respDTO.end + 1}">Next</a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </form>
                </div>
            </div>

            <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="infoModalLabel">Info</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p id="modalResult"></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>

<script layout:fragment="script" th:inline="javascript">
    document.querySelector(".pagination").addEventListener("click", function (e) {
        e.preventDefault()
        e.stopPropagation()

        const target = e.target

        if(target.tagName !== 'A') {
            return
        }

        const num = target.getAttribute("data-num")

        const formObj = document.querySelector("form")

        formObj.innerHTML += `<input type='hidden' name='page' value='${num}'>`
        formObj.action = "/notif/list"
        formObj.method = "get"

        formObj.submit();

    },false)

    //show modal
    var result = [[${result}]];
    if(result) {
        if (result == "Registered") {
            document.querySelector("#modalResult").innerHTML = "New notification is successfully added.";
        } else if (result == "Removed") {
            document.querySelector("#modalResult").innerHTML = "Notification is successfully removed.";
        } else if (result == "Modified") {
            document.querySelector("#modalResult").innerHTML = "Notification is successfully modified.";
        }
        var modal = new bootstrap.Modal(document.querySelector(".modal"));
        modal.show();
    }

    document.querySelector(".clearBtn").addEventListener("click", function (e){
        e.preventDefault()
        e.stopPropagation()

        self.location ='/notif/list'

    },false)

</script>
</html>
