<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/basic.html}">

<div layout:fragment="content">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5" style="margin-top: 20px;">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/adminPage/home}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/adminPage/user/list}">Member list</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page content-->
    <div class="container-fluid" layout:fragment="adminSubMenu">
    </div>

</div>

<script layout:fragment="script" th:inline="javascript">

</script>

</html>
