<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/adminSubMenu.html}">

<div layout:fragment="adminSubMenu">

    <div class="row mt-3">
        <div class="col">
            <div class="card mb-3">
                <div class="card-header">
                    Rental Request List
                </div>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <span th:style="'color: red;'"><b><i>Rental requests are processed in sequence.</i></b></span>
                </div>

                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Author</th>
                        <th scope="col">Request Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="dto, count : ${dto}">
                        <th th:text="${dto[0]}"></th>
                        <td th:text="${dto[1]}"></td>
                        <td th:text="${dto[2]}"></td>
                    </tr>
                    </tbody>
                </table>

                <!-- No Record Founds Message -->
                <div th:if="${#lists.isEmpty(dto)}">
                    <p class="text-center fw-semibold fst-italic">No Records Found</p>
                </div>

                <div class="float-end" th:style="'margin-right: 20px;'">
                    <a class="btn btn-secondary" th:href="@{/myPage/home}">Go back</a>
                </div>

                <div class="modal" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-header">
                            Info
                        </div>
                        <div class="modal-content">
                            <div class="modal-body">
                                <p id="modalResult"></p>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

<script layout:fragment="script" th:inline="javascript">

</script>
</html>
