<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/adminSubMenu.html}">

<div layout:fragment="adminSubMenu">

    <div class="row mt-3">

        <div class="col-md-11 mx-auto">
            <div class="col">
                <div style="font-size: 1.5rem;">
                    Extension Request List
                </div>
                <hr class="mb-4">

        <form>
            <div class="col">
                <input type="hidden" name="size" th:value="${pgReqDTO.size}">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <select class="form-select" name="type">
                            <option value="">---</option>
                            <option value="i" th:selected="${pgReqDTO.type =='i'}">ID</option>
                            <option value="t" th:selected="${pgReqDTO.type =='t'}">Title</option>
                        </select>
                    </div>
                    <input type="text" class="form-control" name="keyword" th:value="${pgReqDTO.keyword}">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary searchBtn" type="submit">Search</button>
                        <button class="btn btn-outline-secondary clearBtn" type="button">Clear</button>
                    </div>
                </div>
            </div>
        </form>

        <div class="col">
            <div class="card mb-3">
                <div class="card-header">
                </div>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col" style="width: 10%;">No</th>
                        <th scope="col" style="width: 15%;">ID</th>
                        <th scope="col" style="width: 50%;">Title</th> <!-- Modified header -->
                        <th scope="col" style="width: 20%;">Requested Date</th>
                        <th scope="col" style="width: 15%;"></th>
                    </tr>
                    </thead>
                    <tbody th:with="link = ${pgReqDTO.getLink()}">
                    <tr th:each="dto, count : ${respDTO.dtoList}">
                        <th scope="row">[[${(respDTO.page - 1) * pgReqDTO.size + count.index + 1}]]</th>
                        <th>
                            <a th:style="'color: ' + (${dto.uId} ? 'red' : 'black')"
                               th:href="|@{/adminPage/user/read(uNo=${dto.uId})}|" class="text-decoration-none">
                                [[${dto.uId}]]</a>
                        </th>
                        <td>
                            <a th:style="'color: black '" th:href="|@{/book/read(bNo=${dto.bNo})}|" class="text-decoration-none"> [[${dto.bTitle}]]</a>
                        </td>
                        <td>[[${#temporals.format(dto.rReqDate, 'yyyy-MM-dd')}]]</td>
                        <td>
                            <!-- Conditionally show the ACCEPT button or an empty space -->
                            <form th:action="@{/adminPage/extReq}"
                                  method="post"
                                  style="display: inline;">
                                <!-- Hidden input to send relevant data -->
                                <input type="hidden" name="uId" th:value="${dto.uId}"/>
                                <input type="hidden" name="bNo" th:value="${dto.bNo}"/>
                                <button type="submit" class="btn btn-success">Accept</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <!-- No Records Found Message -->
                <div th:if="${#lists.isEmpty(respDTO.dtoList)}">
                    <p class="text-center fw-semibold fst-italic">No Records Found</p>
                </div>

                <div>
                    <div class="float-start" th:style="'margin-right: 20px;'">
                        <a class="btn btn-secondary" th:href="@{/adminPage/home}">Go back</a>
                    </div>

                    <div class="float-end">
                        <ul class="pagination flex-wrap">
                            <li class="page-item" th:if="${respDTO.prev}">
                                <a class="page-link" th:data-num="${respDTO.start - 1}">Previous</a>
                            </li>

                            <th:block th:each="i: ${#numbers.sequence(respDTO.start, respDTO.end)}">
                                <li th:classappend="${respDTO.page == i} ? 'active' : ''" class="page-item">
                                    <a class="page-link" th:data-num="${i}">[[${i}]]</a>
                                </li>
                            </th:block>

                            <li class="page-item" th:if="${respDTO.next}">
                                <a class="page-link" th:data-num="${respDTO.end + 1}">Next</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
            </div>
    </div>
</div>

</div>

<script layout:fragment="script" th:inline="javascript">

    document.querySelector(".pagination").addEventListener("click", function (e) {
        e.preventDefault();
        e.stopPropagation();

        const target = e.target;

        if (target.tagName !== 'A') {
            return;
        }

        const num = target.getAttribute("data-num");

        const formObj = document.querySelector("form");

        formObj.innerHTML += `<input type='hidden' name='page' value='${num}'>`;
        formObj.action = "/adminPage/home";
        formObj.method = "get";

        formObj.submit();

    }, false);

    document.querySelector(".clearBtn").addEventListener("click", function (e){
        e.preventDefault()
        e.stopPropagation()

        self.location ='/adminPage/extReq'

    },false)

</script>
</html>
